.searchContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10000;
}

.containerSearch {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: left;
  padding: 5%;
  padding-top: 15%;
  height: 100%;
}

.closeSearch {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}

.customInput::placeholder,
.customInput[type="text"] {
  margin: auto;
  text-align: left;
  font: normal normal 800 100px/140px Montserrat;
}

.customInput::placeholder {
  color: #cfcfcf;
  text-decoration: none;
}

.customInput {
  text-decoration: underline;
  text-decoration-color: #b4ff00;
  text-decoration-thickness: 20px;
  text-underline-position: under;
}

.innerContainer {
  flex: 1 1 50%;
}

.customInput {
  width: 100%;
}

.searchBtn {
  width: 240px;
  height: 56px;
  font: normal normal 800 18px/22px Montserrat;
  color: white;
  background: #4b00ff;
  box-shadow: 0px 3px 6px #00000066;
  border-radius: 42px;
  cursor: pointer;
}

.searchBtn:hover {
  background: #3700b6;
}

@media screen and (max-width: 600px) {
  .innerContainer {
    flex: 1 1 50%;
  }

  .searchBtn {
    width: 100%;
    margin-top: auto;
  }



  .customInput::placeholder,
  .customInput[type="text"] {
    font: normal normal 800 28px/48px Montserrat;
  }
}