.mainContainer {
  width: 100%;
}

.background {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textBlock {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 10%;
  top: 40%;
  width: 50%;
}

.heroBannerDotContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heroBannerDotActive {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.heroBannerDot {
  background: #9f9f9f;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.textBlock>h1 {
  font: normal normal 800 100px/122px Montserrat;
}

.textBlock>p {
  max-width: 576px;
  font: normal normal 800 30px/40px Montserrat;
}

.greenLine {
  width: 96px;
  border: 16px solid var(--unnamed-color-b4ff00);
  margin-bottom: 5%;
}

@media screen and (max-width: 1054px) {
  .textBlock {
    top: 30%;
  }

  .textBlock>h1 {
    font-size: 60px;
  }

  .textBlock>p {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .greenLine {
    max-width: 48px;
    border: 8px solid var(--unnamed-color-b4ff00);
  }

  .textBlock {
    width: 80%;
  }

  .textBlock>h1 {
    font: normal normal 800 38px/47px Montserrat;
  }

  .textBlock>p {
    max-width: 312px;
    font: normal normal 800 18px/24px Montserrat;
  }
}