.contactUsSection {
  height: auto;
  min-height: var(--doc-height);
}

.containerContact {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 100%;
}

.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.greenDot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  background: #b4ff00;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.greenDot>p {
  display: none;
}

.greenDot:hover>p {
  display: block;
  font-size: 2px;
  font-weight: 500;
}

.greenDot:hover {
  transform: scale(10);
}

.map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
  height: 100%;
  padding: 10%;
  gap: 10px;
}

.textField {
  width: 100%;
}

.textField>p {
  margin-top: 10px;
  margin-right: 15px;
  text-align: right;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: black;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.select1 {
  width: 80%;
}

.select2 {
  width: 80%;
}

.formContainer>h2 {
  margin-right: auto;
  font: normal normal 800 32px/39px Montserrat;
}

.formContainer>h4 {
  font: normal normal normal 18px/26px Montserrat;
  color: black;
}

.formContainer>p {
  font: normal normal normal 16px/16px Montserrat;
  color: black;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.checkboxContainer>p {
  text-align: left;
  font: normal normal normal 16px/16px Montserrat;
  color: black;
}

.wrapperCheckBoxes {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
}

.formContainer-control {
  display: flex;
  gap: 5px;
}

.formContainer-control+.formContainer-control {
  margin-left: 20px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: inherit;
  /* Not removed via appearance */
  margin: 0;
  border: 1px solid #4b00ff;
  border-radius: 4px;

  width: 24px;
  height: 24px;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  content: "\f00c";
  color: #4b00ff;
  transform: scale(0);
  transition: 150ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.input-label {
  margin-left: 5px;
}

@media screen and (max-width: 1024px) {
  .containerContact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    grid-template-rows: 1fr 296px;
  }

  .contactUsSection {
    height: auto;
  }

  .greenDot:hover {
    transform: scale(7);
  }

  .formContainer {
    grid-column: 1/-1;
    grid-row: 1;
    padding: 5%;
  }

  .dropdowns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

  .select1 {
    width: 100%;
  }

  .select2 {
    width: 100%;
  }

  .mapContainer {
    grid-column: 1/-1;
    grid-row: 2;
  }
}