@import url("https://fonts.cdnfonts.com/css/montserrat");

html {
  scroll-padding-top: 4rem;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  line-height: 1.7;
}

:root {
  /* Colors: */
  --unnamed-color-b4ff00: #b4ff00;
  --doc-height: 100vh;
}

section {
  height: var(--doc-height);
  width: 100%;
}

.searchBtn {
  width: 240px;
  height: 56px;
  font: normal normal 800 18px/22px Montserrat;
  color: white;
  background: #4b00ff;
  box-shadow: 0px 3px 6px #00000066;
  border-radius: 42px;
  cursor: pointer;
}

.searchBtn:hover {
  background: #3700b6;
}


.modal-open {
  overflow: hidden;
  /* display: none; */
}